$primary-color: #200b35;
$secondary-color: #3d1556;
$highlight-color: #7198ff;
$alert-color: #bd2b48;
$light-color: #ffffff;
$dark-color: #272727;
$primary-font: 'Lusitana', serif;
$secondary-font: 'Bebas Neue', cursive;
