@import '../../variables';

@media (max-width: 576px) {
  .employee-profile {
    background-color: $primary-color;
    font-family: $primary-font;
    .image-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 1rem;
      img {
        border-radius: 50%;
        height: 18rem;
        width: 18rem;
        object-fit: contain;
        border: 2px solid $secondary-color;
      }
      .header-container {
        position: absolute;
        top: 17rem;
        background-color: $light-color;
        padding: 5px 2rem;
        border: 2px solid $secondary-color;
        border-radius: 5px;
        h1 {
          font-family: $secondary-font;
          font-weight: lighter;
          font-size: 34px;
          color: $secondary-color;
        }
      }
    }
    .profile-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;
      color: $light-color;
      .text-part {
        margin: 0.5rem;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        label {
          margin: 0.5rem;
          font-family: $secondary-font;
          font-weight: lighter;
          font-size: 22px;
        }
      }
      .location,
      .status {
        font-family: $secondary-font;
        font-weight: lighter;
        font-size: 22px;
      }
      .skills,
      .typeOfWork {
        p {
          margin-top: 0.5rem;
        }
      }
      .links {
        label {
          margin-bottom: 1rem;
        }
        a {
          text-decoration: none;
          color: $light-color;
        }
      }
      .logout-btn {
        width: 10rem;
        height: 2rem;
        font-size: 18px;
        font-family: $primary-font;
        background-color: $light-color;
        color: $secondary-color;
        border: 2px solid $secondary-color;
        border-radius: 5px;
        margin-bottom: 0.5rem;
      }
    }
    .delete-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 2rem;
      margin-top: 0.5rem;

      button {
        width: 10rem;
        height: 2rem;
        font-size: 18px;
        font-family: $primary-font;
        background-color: $alert-color;
        color: $light-color;
        border: 2px solid $light-color;
        border-radius: 5px;
      }
    }
  }
}
