@import '../variables';

@media (max-width: 576px) {
  .landing-page {
    height: 100vh;
    background: rgb(32, 11, 53);
    background: linear-gradient(
      320deg,
      rgba(32, 11, 53, 1) 0%,
      rgba(113, 152, 255, 1) 50%,
      rgba(32, 11, 53, 1) 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-family: $primary-font;
      color: $light-color;
      text-align: center;
      max-width: 300px;
      margin: 1rem;
      font-weight: lighter;
    }

    .landing-btn {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;

      button {
        width: 13rem;
        height: 3rem;
        margin: 1rem;
        font-size: 24px;
        font-family: $primary-font;
        background-color: $light-color;
        color: $secondary-color;
        border: 2px solid $secondary-color;
        border-radius: 5px;

        &:active {
          background-color: $secondary-color;
          color: $light-color;
          border: 2px solid $light-color;
        }
      }
    }
  }
}
